@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.fw-semibold {
    color: #5A595C;
    font-weight: bold;
}

.col-sm-4 {
    color: #5A595C;
}

.form-select {
    background-color: #ED296E;
}

.border-bottom-dark {
    border-bottom: 7px solid #ED296E;
}

.border-bottom-yellow {
    border-bottom: 7px solid #FAAC32;
}

.btn-color {
    background-color: #FAAC32;
}

.table-bordered {
    border: 0.5px solid #5A595C;
}

.thead {
    background-color: #009CD8;
}

.form-check-label {
    align-items: left;
}

input {
    background-color: #2EBCBB;
    opacity: 1;
}

.btn {
    margin-top: 0px;
    margin-bottom: 40px;
}

.navMenu {
    z-index: 1;
    background-color: #ED296E;
    color: #ffff;
    margin-left: 49%;
}

.subMenu {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    background-color: #ED296E;
}

.navMenu:hover .subMenu {
    display: block;
}

.ui-fluid-card {
    background-color: #FAAC32;
    border-radius: 30px;
}

.ui-fluid-card2 {
    background-color: #2AB35B;
    border-radius: 30px;
}

.ui-fluid-card3 {
    background-color: #009CD8;
    border-radius: 30px;
}

.ui-fluid-card4 {
    background-color: #ED296E;
    border-radius: 30px;
}

.card-footer {
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #FAAC32;
}

.card-body {
    color: #FAAC32;
}